.header {
  height: 4em;

  background-color: black;
}
.data {
  color: white;
}
img {
  border: 1px solid black;
  height: -webkit-fill-available;
}
.active {
  color: red;
}
.searchbar {
  margin-top: 1em;
  left: -11em;
}
.inputform {
  width: 18em;
}
.submitform {
  margin-left: 3em;
}
